@tailwind base;
@tailwind components;
@tailwind utilities;

.slide {
  animation: slideIn 0.3s;
}

@keyframes slideIn {
  0% {
    top: 110%;
    opacity: 0;
  }

  100% {
    top: 120%;
    opacity: 1;
  }
}

.calender::-webkit-calendar-picker-indicator {
  @apply cursor-pointer p-2 rounded border-none bg-gray-100;
}
