@tailwind base;
@tailwind components;
@tailwind utilities;

.slide {
    animation: slideIn 0.3s;
}

@keyframes slideIn {
  0% {
    -webkit-transform: translateY(120%);
    transform: translateY(120%);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(130%);
    transform: translateY(130%);
    opacity: 1;
  }
}
